

.menu-collapsed {
  transition:all .25s;
  position:fixed;
  top:10px;
  right:-14px;
  height:36px;
  width:36px;
  z-index:1;
  cursor:pointer;
    ul {
      transition:all .05s;
      position:fixed;
      right:-9002px;
    }
  }

  .bar {
    position:fixed;
    right:12px;
    top:24px;
    height:6px;
    width:30px;
    border-radius:15px;
    background-color:rgba(255,255,255,0.75);
    &:before {
      transition:all .25s;
      content:"";
      position:absolute;
      right:0;
      top:-8px;
      height:6px;
      width:30px;
      border-radius:15px;
      background-color:rgba(255,255,255,0.75);
    }
    &:after {
      transition:all .25s;
      content:"";
      position:absolute;
      right:0;
      top:8px;
      height:6px;
      width:30px;
      border-radius:15px;
      background-color:rgba(255,255,255,0.75);
    }
  }
 

.menu-expanded {
  transition:all .25s;
  text-align:center;
  line-height:200px;
  height:100%;
  width:100%;
  border-radius:0px;
  top:0;
  right:0;
  background-color:rgba(0,0,0,0.85);
  ul {
    transition:all .05s;
    position:relative;
    right:0;
    z-index:2;
  }
  a {
    transition:all .15s;
    text-decoration:none;
    color:white;
    font-size:2em;
    padding:5px;
    &:hover {
      transition:all .15s;
      letter-spacing:2px;
      border:1px solid rgba(255,255,255,.15);
    }
  }
  .bar {
    background-color:transparent;
    transition:all .25s;
    &:before {
      transition:all .25s;
      content:"";
      transform:rotate(45deg);
      top:-0px;
    }
    &:after {
      transition:all .25s;
      content:"";
      transform:rotate(-45deg);
      top:0px;
    }
  }
}

